.DS_Store
.Rproj.user/
data/genome/~$*

data/tagseq/raw/*
data/tagseq/intermediate/*
data/16S/*
data/temperature

data/tagseq/NCBI_BioSample.xlsx

archived_files

data/SILVA_132_QIIME_release

DE_analysis_files
DE_analysis_cache

code/GO_MWU/*logP.txt
code/GO_MWU/dissim*
.Rproj.user

*.pptx
*_files
*_cache
data/photos

manuscript
